# {{ ansible_managed }}
# {{ ansible_managed }}
<?xml version="1.0" encoding="UTF-8"?>

<confluence-configuration>
  <setupStep>complete</setupStep>
  <setupType>custom</setupType>
  <buildNumber>6216</buildNumber>
  <properties>
    <property name="admin.ui.allow.daily.backup.custom.location">false</property>
    <property name="admin.ui.allow.manual.backup.download">false</property>
    <property name="admin.ui.allow.site.support.email">false</property>
    <property name="atlassian.license.message">AAABLQ0ODAoPeNptkMtOwzAQRff+CktsYOEqDoE+JEvQJIuWpAUSKAsk5FoTailxIz8q+vc4TYGCW Fgaee69c2bOCqfw3NWYBpiGk8vx5CrCcVLiMKDXKAEjtGyt3CoWb1VVO1AC8HkBegf64nWC0x2vH e8EKNZwKBJugXV2EgwJpUh444ALK3fArHbQfxSWawuaVbw2gHy49ZI057JmxkK7AXVjtVSyWTszE NsG/Uw6ScmkAGWg3Lew4A2weJnn6WM8u81Q3beeQZvOEyKfrSwo7jdIP1qp9yegIxKM0VK/cyVNP +MI8fYNgfqlZwmb5g8JCabDF7JahSmZl9EdKtIF849kIzqKIhqhI5mXZ7PkV+cAvnDNGvSyejKej xH6pf+f7N5pseEG/p72E0DRkkwwLAIURcDGhkTk1y3K9n5vGBoNgQCX9uICFCgzZB6P0nCf4BghX JNBoc43dCOfX02f3</property>
    <property name="attachments.dir">${confluenceHome}/attachments</property>
    <property name="confluence.setup.server.id">BMQD-0B7X-WW2E-JT4K</property>
    <property name="confluence.webapp.context.path"></property>
    <property name="hibernate.c3p0.acquire_increment">1</property>
    <property name="hibernate.c3p0.idle_test_period">100</property>
    <property name="hibernate.c3p0.max_size">30</property>
    <property name="hibernate.c3p0.max_statements">0</property>
    <property name="hibernate.c3p0.min_size">0</property>
    <property name="hibernate.c3p0.timeout">30</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.isolation">2</property>
    <property name="hibernate.connection.password">confluencedb</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/confluencedb</property>
    <property name="hibernate.connection.username">confluence</property>
    <property name="hibernate.database.lower_non_ascii_supported">true</property>
    <property name="hibernate.dialect">com.atlassian.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.setup">true</property>
    <property name="lucene.index.dir">${localHome}/index</property>
    <property name="webwork.multipart.saveDir">${localHome}/temp</property>
  </properties>
</confluence-configuration>
